{%extends 'base.html'%}
{% block title %}Index{% endblock %}
{%block content%}

    <section class="hero">
        <h1 >
            ¿Por qué visitar México?
        </h1>
        <p>
            México es un país que cuenta con 8 climas en su territorio, así como con una gran biodiversidad terrestre y marítima.
            Cuenta con lugares de gran relevancia cultural e histórica a nivel nacional y que esconden grandes historias detrás
            de ellos. Hay actividades para todos los miembros de la familia y para todas las edades, desde paseos guiados a lugares
            emblemáticos de alguna ciudad o visitar algún museo, hasta aventarte en la tirolesa más larga del mundo admirando las
            maravillosas Barrancas del Cobre. ¡No puedes perder cada una de las experiencias que te están esperando!
        </p>
        <button>
            Perzonaliza tu Viaje
        </button>
    </section>
    <section class="section-info" >
        <h1>
            Medidas Sanitarias durante tu Estadia en México
        </h1>
        <p>
            La Secretaría de Turismo pone a su disposición la siguiente guía que tiene como propósito orientar al visitante extranjero a su llegada a México.Es importante hacer de su conocimiento que todas las Entidades Federativas operan con el Semáforoderiesgoepidemiológicopara transitar hacia una nueva normalidad, es un sistema de monitoreo para la regulación del uso del espacio público de acuerdo con el riesgo de contagio de COVID-19.Este semáforo será estatal y está compuesto por cuatro colores:
        </p>
        <p>
            <strong class="rojo" > Rojo </strong> Se   permitirán   únicamente   las   actividades   económicas   esenciales, asimismo   se   permitirá   también   que   las   personas   puedan   salir   a caminar alrededor de sus domicilios durante el día.
        </p>
        <p>
            <strong class="naranja"> Naranja </strong> Además de las actividades económicas esenciales, se permitirá que las empresas de las actividades económicas no esenciales trabajen con el 30%   del   personal   para   su   funcionamiento,   siempre   tomando   en cuenta las  medidas decuidado máximo para las personas  con mayor riesgo  de  presentar  un  cuadro  grave  de  COVID-19,  se  abrirán  los espacios   públicos   abiertos   con   un   aforo   (cantidad   de   personas) reducido.
        </p>
        <p>
            <strong class="amarillo"> Amarillo </strong> Todas   las   actividades   laborales   están   permitidas,   cuidando   a   las personas  con  mayor  riesgo  de  presentar  un  cuadro  grave  de  COVID-19.  El  espacio  público  abierto  se  abre  de  forma  regular,  y  los  espacios públicos cerrados  se pueden abrir  con  aforo  reducido. Como en  otros colores  del  semáforo,  estas  actividades deben  realizarse con medidas básicas  de  prevención  y  máximo  cuidado  a  las  personas  con  mayor riesgo de presentar un cuadro grave de COVID-19.
        </p>
        <p>
            <strong class="verde"> Verde </strong> Se permiten todas las actividades, incluidas las escolares.
        </p>
        <img src="static/img/covid.jpg" alt="">
        <br>
        <button>
            Perzonaliza tu Viaje
        </button>
    </section>
{%endblock%}